* {
  margin: 0;
  padding: 0;
}

body {
  margin:0;
  overflow-x:hidden!important;
  background-color: #888;
  -webkit-font-smoothing: antialiased;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navTitle {
  font-size: 2em;
  color:white;
  font-weight: 600;
}

.navbar {
  background: linear-gradient(to top right, #868686, #000000);
  padding: 0 !important;
  max-height:70px;
}

.navbar-brand img {
  height: 50px;
  padding-left: 3rem;
  margin-top: -10px;
}

@media(max-width:468px) {
  .navbar-brand img {
    height: 50px;
    padding-left: 1rem;
    margin-top: -10px;
  }
}

.navbar-nav {
  margin-right: 3rem;
}

.navbar-nav li {
  padding: 0 1rem;
}

.navbar-nav li {
  padding: 0 1rem;
}

.navbar-nav .nav-item .nav-link {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: #fff !important;
  font-size: 25px !important;
}

.navbar-toggler {
  outline: none !important;
}

/* --------- Banner ---------- */
.banner {
}

.promo-title {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 3em;
}

@media(max-width:468px) {
  .promo-title {
    font-size: 2.5rem;
    margin-top: 2.5em;
  }
}

.join-title {
  font-size: 1.44rem;
}

.link-play {
  font-size: 16px;
  text-decoration: none;
}

.link-play:hover {
  text-shadow: 0px 0px 2px #fbff00;
  color: white;
  text-decoration: none !important;
}

.play-btn {
  width: 45px;
  margin: 20px 0;
  margin-right: 1.5em;
  text-decoration: none !important;
  transition: transform 1.2s;
}

.playBtn {
  animation-name: playPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.play-btn:hover {
  color: #444;
  text-decoration: none !important;
  transform: scale(1.2);
}

.banner a {
  color: #fff;
  text-decoration: none !important;
}

.img-fluid {
  margin-top: 4rem;
}

.bottom-img {
  width: 100%;
}

.hexHr::after {
  content: '';
  background: linear-gradient(to top right, #fbff00, #ff00ea);
  height: 5px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 70px;
  transform: translateY(15px);
  margin-bottom: 50px;
}

#services .btn-primary:hover {
  transform: scale(1.2);
}

/* -----------   About -------------*/
#about {
  color: #111111;
  background-color: #ffffff;
  padding-bottom: 6rem;
  padding-top: 3rem;
}

.about-title {
  font-size: 1.6em;
  margin-top: 5%;
  font-weight: 600;
}

.about-title i {
  animation-name: playPulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.about-title i:hover {
  cursor: pointer;
}

#about ul li {
  margin: 10px 0;
}

#about ul {
  margin-left: 20px;
}

/* ----- Footer ------*/
#footer {
  padding-top:200px;
  min-height:100%;
  width:100%;
  position: absolute;
  top:0px;
  left:0px;
  color: white;
  background: linear-gradient(to top right, #868686, #000000);
  z-index:2;
}

.footer-img {
  width: 100%;
}

.footer-box {
  padding: 20px;
}

.footer-box img {
  width: 4rem;
  margin-bottom: 20px;
}

.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  display: inline-block;
}

.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin: 20px 0;
}

.footer-box .btn-primary {
  box-shadow: none !important;
  width:auto;
  min-width: 8rem;
  min-height: 50px;
  border: 5px white solid;
  border-radius: 50px;
  background: linear-gradient(to top right, #fbff00, #ff00ea);
  color: #fff;
  transition: transform 1.2s;
  font-weight: bold;
}

.footer-box .btn-primary:hover {
  transform: scale(1.2);
  color: #fff;
}

/*-------- Social Media icons ---------- */
#social p {
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
}

.copyright {
  padding-top: 2%;
  font-size: 15px;
}

.copyright a {
  color: #fff;
}

.copyright a i {
  color: #fff;
}

.copyright a i:hover {
  color: #fff !important;
}

.copyright a:hover {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 2px #fbff00;
  cursor:pointer;
}

/*--------------------------*/

.hexBtn {
  box-shadow: none !important;
  width:auto;
  min-width: 8rem;
  min-height: 50px;
  border: 5px white solid;
  border-radius: 50px;
  background: linear-gradient(to top right, #fbff00, #ff00ea);
  color: white;
  font-weight: bold;
  transition: transform 1.2s;
  padding-left:10px;
  padding-right:10px;
}

.hexBtn:hover {
  transform: scale(1.2);
  color: #fff;
  border: 3px white solid;
  transition: all linear 0.3s;
}


.approveBtn {
  box-shadow: none !important;
  width:auto;
  min-width: 8rem;
  min-height: 50px;
  border: 5px white solid;
  border-radius: 50px;
  background: linear-gradient(to top right, #fbff00, #ff00ea);
  color: white;
  font-weight: bold;
  transition: transform 1.2s;
  padding-left:10px;
  padding-right:10px;
}

.approveBtn:hover {
  transform: scale(1.2);
  border: 5px white solid;
  color: #fff;
  transition: all linear 0.3s;
}

.addressBreak {
  word-wrap: break-word;
  word-break: break-all;
  font-weight: bold;
}

#errorMsg {
  display: none;
  color: red;
  position: fixed;
  top:0px;
  left:50%;
  transform: translate(-50%, 0%);
  background-color: white;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5px 10px 5px 10px;
  z-index:99;
  font-weight: 700;
  box-shadow: 0px 0px 5px black;
}

#successMsg {
  display: none;
  color: green;
  position: fixed;
  top:0px;
  left:50%;
  transform: translate(-50%, 0%);
  background-color: white;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5px 10px 5px 10px;
  z-index:99;
  font-weight: 700;
  box-shadow: 0px 0px 5px black;
}

#rate {
  font-weight: 700;
}

#userAddress {
  font-weight: 700;
}

.makeOffer {
  font-size: 20px;
}

.openOffers {
  font-size: 20px;
}

.openOffers:hover {}

.orderTypes {}

.orderTypes input {}

.marketCont {
  max-height: 750px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.tableCont {
  padding: 15px;
  border: 5px solid black;
  border-radius: 5px;
  margin-bottom: 25px;
}

.marketTitle {
  font-size: 22px;
}

.contractBalances {
  font-weight: bold;
}

#offersTitle {

}

#hexTake {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  min-width: 350px;
  width: 30%;
  max-width: 1000px;
  z-index: 99;
  border: 5px black solid;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  padding: 15px;
}

table {
  font-size: 16px;
}

.tableRate{
  font-weight: bold;
}
th tr td {
  padding: 2px;
}

th {}

tr {
  border-radius: 5px;
}

td {}

td i:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 0px 0px 2px #fbff00;
  transition: all 0.3s;
}
.hexLink {
  color:white;
  animation-name:pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0% {
    text-shadow:0px 0px 0px yellow;
  }

  50% {
    text-shadow:0px 0px 5px yellow;
  }

  100% {
    text-shadow:0px 0px 0px yellow;
  }
}

@keyframes tabPulse {
  0% {
    text-shadow:0px 0px 0px yellow;
    box-shadow:0px 0px 0px magenta;
  }

  50% {
    text-shadow:0px 0px 5px yellow;
    box-shadow:0px 0px 5px magenta;
  }

  100% {
    text-shadow:0px 0px 0px yellow;
    box-shadow:0px 0px 0px magenta;
  }
}

footer{
  background: linear-gradient(to top right, #868686, #000000);
  font-weight:700;
  height:75px;
  width:100%;
  padding-top:25px;
}

#tab{
  border-radius:5px;
  min-width:100px;
  height:50px;
  position: absolute;
  z-index:3;
  top:70px;
  right:0px;
  font-weight: 700;
  font-size: 22px;
  padding-left:10px;
  padding-right:10px;
}


#tab2{
  border-radius:5px;
  min-width:100px;
  height:50px;
  position: absolute;
  z-index:3;
  top:125px;
  right:0px;
  font-weight: 700;
  font-size: 22px;
  padding-left:10px;
  padding-right:10px;
}

#manager{
  width:100%;
  height:100%;
}

#connectBtn{
  border-radius:5px;
  min-width:100px;
  height:50px;
  position: absolute;
  z-index:3;
  top:70px;
  left:0px;
  font-weight: 700;
  font-size: 22px;
  padding-left:10px;
  padding-right:10px;
}

.buttonFlash{
  animation-name:tabPulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.poolImg{
  width:100%; 
  position: absolute; 
  top:50px; 
  transform:rotateX(180deg);
  z-index: 3;
}
@media(max-width:568px){
  .poolImg{ 
    top:70px; 
  }
}

#overlay{
  background: linear-gradient(to top right, #868686, #000000);
  width:100%;
  min-height:100%;
  position: absolute;
  top:0px;
  left:0px;
  z-index:2;
}

.poolsTab{
  width:100%;
  text-align: center;
  position: absolute;
  top:200px;
}

.poolTab{
  background: linear-gradient(to top right, #868686, #000000);
  color:white;
  border-radius: 50%;
  border:black solid 10px;
  box-shadow:0px 0px 10px black;
  padding:10px;
  margin:auto;
  min-height: 450px;
  max-width:450px;
  font-weight: 700;
  font-size:22px;
}

.loading{
  color:white;
  position: absolute;
  top:48%;
  left:48%;
  animation-name:loadSpin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.infoBox{
  background: linear-gradient(to top right, rgba(134,134,134), rgba(0,0,0));
  color:white;
  padding:5px;
  border:black solid 10px;
  text-align: left;
  height:400px;
  overflow-y: scroll;
}

.titleBox{
  color:white;
  text-shadow:0px 0px 2px black;
  margin-bottom:50px;
}

@keyframes loadSpin {
  0% {
    text-shadow:0px 0px 0px yellow;
    transform:rotateZ(0deg);
  }

  50% {
    text-shadow:0px 0px 5px yellow;
    transform:rotateZ(360deg);
  }

  100% {
    text-shadow:0px 0px 0px yellow;
    transform:rotateZ(720deg);
  }
}

.logoPool{
  position: absolute;
  top:50%;
  left:50%;
  color:rgba(255, 255, 255, 0.1);
  transform:scale(1.5) translate(-37.5%,-37.5%);
}

@media(min-width:998px){
  .logoPool{
  animation-name:poolScale;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform:scale(2) translate(-25%,-37.5%);
  }
}

@keyframes poolScale {
  0% {
    transform: scale(2) translate(-25%,-25%);
  }

  50% {
    transform: scale(4) translate(-12.5%,-12.5%);
  }

  100% {
    transform: scale(2) translate(-25%,-25%);
  }
}

.poolInnerTab{
  position: relative;
  z-index:1;
}